<div class="row">
  <div class="col-md-12 text-center mb-30">
    <div class="introduce-content pt-40">{{ section.settings.content }}</div>
  </div>
</div>
{% schema %}
  {
    "name": "Page Content",
    "class": "index-section page-content",
    "settings": [
      {
        "type": "richtext",
        "id": "content",
        "label": "content"
      }
    ]
  }
{% endschema %}
