{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% include 'nov-breadcrumb' %}

<div class="page-width">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            {% section 'collection-template' %}
          </div>
        </div>
    </div>
</div>