{% comment %}
  The contents of the product.liquid template can be found in /sections/nov-product-template.liquid
{% endcomment %}

{% include 'nov-breadcrumb' %}

<div class="page-width">
  {% if settings.type_sidebar_product != 'sidebar_hidden' %}
    <div class="container">
      <div class="row">
  {% endif %}
        {% if settings.type_sidebar_product != 'sidebar_hidden' %}
          <div class="sidebar sidebar-collection col-lg-3 col-md-3 flex-xs-unordered{% if settings.type_sidebar_product == 'sidebar_right' %} flex-last{% endif %}">
            {% section 'nov-sidebar-detail' %}
          </div>
        {% endif %}
        <div class="{% if settings.type_sidebar_product != 'sidebar_hidden' %}col-lg-9 col-md-9 flex-xs-first{% else %}col-lg-12 col-md-12{% endif %}">
          {% section 'nov-product-template' %}
        </div>
    {% if settings.type_sidebar_product != 'sidebar_hidden' %}  
      </div>
    </div>
    {% endif %}
</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }

  var selectCallbackProduct = function(variant, selector) {
    novtheme.productPage({
      money_format: theme.moneyFormat,
      variant: variant,
      selector: selector
    })
  };

  $(document).ready(function() {
    {% if bold_variants_size > 1 %}
    new Shopify.OptionSelectors('productSelect', {
      product: {%- include 'bold-product', output: 'json' -%},
      onVariantSelected: selectCallbackProduct,
      enableHistoryState: true
    });
    {% endif %}


    ajaxCart.init({
      formSelector: 'form[action^="/cart/add"]',
      cartContainer: '#cart-info',
      addToCartSelector: '.btnAddToCart',
      cartCountSelector: '#CartCount',
      cartCostSelector: '#CartCost',
      moneyFormat: theme.moneyFormat
    });

    {% if product.available and product.options.size > 0 %}
      //$('.selector-wrapper').addClass('d-flex align-items-center');
      Shopify.linkOptionSelectors({%- include 'bold-product', output: 'json' -%});
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if bold_variants_size == 1 and bold_selected_or_first_available_variant.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>