{% comment %}
  The contents of the product.liquid template can be found in /sections/nov-product-template.liquid
{% endcomment %}

{% include 'nov-breadcrumb' %}

<div class="page-width">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 flex-xs-first">
        {% section 'nov-product-template' %}
      </div>
      <div class="sidebar sidebar-collection col-lg-3 col-md-3 flex-xs-unordered">
        {% section 'nov-sidebar-detail' %}
      </div>
    </div>
  </div>
</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }

  var selectCallbackProduct = function(variant, selector) {
    novtheme.productPage({
      money_format: theme.moneyFormat,
      variant: variant,
      selector: selector
    })
  };

  $(document).ready(function() {
    new Shopify.OptionSelectors('productSelect', {
      product: {%- include 'bold-product', output: 'json' -%},
      onVariantSelected: selectCallbackProduct,
      enableHistoryState: true
    });


    ajaxCart.init({
      formSelector: '.product-form-nov-product-template',
      cartContainer: '#cart-info',
      addToCartSelector: '#AddToCart',
      cartCountSelector: '#CartCount',
      cartCostSelector: '#CartCost',
      moneyFormat: theme.moneyFormat
    });

    {% if product.available and product.options.size > 1 %}
      //$('.selector-wrapper').addClass('d-flex align-items-center');
      Shopify.linkOptionSelectors({%- include 'bold-product', output: 'json' -%});
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if bold_variants_size == 1 and bold_selected_or_first_available_variant.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>